<h1>This is the personfit.</h1>

<ul>
<%@calculation_request.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
<%end if @calculation_request.errors.any? %>
</ul>

<%= form_for :calculation_request, url: personfit_path do |f| %>
  
  <div class="field">
      <%= f.label :package %><br />
      <%= f.select :package, @packages, :prompt => "Select a package" %>
  </div>
    
  <div class="field">
    <%= f.label :function %><br>
    <%= f.text_field :function %>
  </div>
    
  <div class="text">
    <%= f.label :data %><br>
    <%= f.text_area :data %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
        

